*{ margin: 0;
    padding: 0;
    box-sizing: border-box;}
    
    body{
    font-family: Montserrat;
    font-size:clamp(12px , 1.5vw ,14px);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #CDCDCD;
    }
    
    .blue_and_white_section{
        display: flex;
        justify-content: center;
        align-items: center;
    
        max-width: 620px;
        min-height: 367px;
    }
    .blue_section{
        display: flex;
        justify-content: center;
        background-color: #0B41AA;
    
        max-width: 198px;
        min-height: 367px;
    }
    #height_fix{
        display: flex;
        justify-content: center;
        align-items: center;
        /* min-height: 100vh; */
        max-width: 100%;
        
    }
    
    .white_section{
        display: flex;
        flex-direction: column;
        background-color:#ffff;
        flex-wrap: wrap;
    
    
        max-width: 422px;
        min-height: 367px;
        gap:40px;
    
        padding: clamp(9px ,5vw,40px);
    
    
      
    
        
    }
    #_container{
        display: flex;
        flex-direction: column;
    
    }
    
    input ,button{
        width:77%;
        min-height:39px;
        max-width: 325px;
        
    }

    input{
        border: #CDCDCD 1px solid;
        border-radius: 5px;
        padding: 10px;
    }
    #reset_password{
        color: #0B41AA;
        display: flex;
        flex-wrap: wrap;
        font-size: clamp(12px , 1.5vw ,24px);
    
    }
    p{
        max-width:325px;
        min-height: 34px;
        
    }
    button{
        color: #B48325;
        background-color: #0B41AA;
        border: none;
        border-radius: 5px;
    }
    #input_group{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    @media(max-width:450px){
        
        .blue_and_white_section{
            flex-direction:column;
            max-width:100%;
            width: 100%;
            max-height: 100%;
                    
        }
        .blue_section{
            max-width: 100%;
            width: 100%;
            min-height: unset;
    
           
        }
        #height_fix{
            width:100%;
            align-items: flex-start;
            
        }
        .white_section {
            width: 100%;
            max-width: 100%;
            padding: 20px;
            align-items: center;
            gap: 30px;
          }
    
          input ,button{
            width:90%;
            min-height:30px;
            max-width:100%;
            
        }
        
        #button_container,
        #label_container{
            width: 100%;
            max-width: none;
            display: flex;
            
        }
        #input_group{
            width: 100%;
            max-width: none;
            
            
        }
    
        #button_container{
            justify-content: center;
            
        }
        #label_container{
            flex-direction: column;
        }
        #label_container input{
            margin: 0 auto;
        }
        label{
            align-self: flex-start;
            margin-left:5%;
        }
    
        body{
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            overflow: hidden;
        }
    
        }
        
    
    
    